<!DOCTYPE HTML>
<html>
<head>

<!-- include some header stuff givin' it vars -->

@@include('./includes/htmlhead.html', {
    "applicationName" : "<%- app.name %>",
    "copyrightYear" : "<%- app.copyright.date %>",
    "twitterUsername" : "<%- author.twitter %>",
    "authorName" : "<%- author.name %>",
    "authorProfileUrl" : "<%- author.name %>",
    "description" : "<%- app.description %>"
})

    <link rel="stylesheet" href="fonts/fontello/css/frast.css" type='text/css' media='all' />
    <link rel="stylesheet" href="fonts/fontello/css/animation.css" type='text/css' media='all' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- build:css stylesheet/style.css -->
    <link rel="stylesheet" href="../../tmp/stylesheet/stylesheet.css" />
    <!-- endbuild -->
</head>
<body>

    <header>
        <h1>Timeline</h1>
    </header>
    <div class="message"><i class="icon-spin animate-spin"></i> Chargement en cours...</div>
    <section id="timeline" class="container">
    </section>

    <div id="item-template" style="display: none">
        <div class="timeline-block source-{{source}}">
            <div class="timeline-img {{source}}">
                <i class="icon-{{source}}">
            </div>
            <div class="timeline-content">
                <h2>{{title}}</h2>
                <div class="content">{{content}}</div>
                <a href="{{url}}" target="_blank" class="read-more">Via <span>{{source}}</span></a>
                <span class="date">{{date}}</span>
            </div>
        </div>
    </div>

    <footer>
        Timeline automatically built with <a href="https://ifttt.com/" target="_blank">IFTTT</a>, <a href="https://docs.google.com/">Google Spreadsheet</a> and a bit of code fastly built with <a href="http://tilap.github.io/frast/" target="_blank">Frast</a>.
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- build:js js/bundle.js -->
    <script src="../../tmp/js/app.js"></script>
    <!-- endbuild -->
</body>
</html>
