
.icon-github:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-soundcloud:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */