
.icon-github:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-soundcloud:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-foursquare:before { content: '\e805'; } /* '' */
.icon-spin:before { content: '\e809'; } /* '' */